* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app {
  background-color: #F2EDE4;
  height: 100vh;
  --translateX: 0px;
  --translateY: 0px;
  --slideInX: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-bottom: 20px;
  background-color: #e8e4d9;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.elements-wrapper {
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: 70vw;
  margin: 0 auto;
}

.array-element {
  width: 15px;
  background-color: #A61B1B;
  background-image: linear-gradient( #A61B1B, #F26B83);
  margin-right: 3px;
  border-radius: 0px 0px 5px 5px;
}

.algorithms-params {
  width: 150px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;  
  background: #A61B1B;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width:17px;
  height: 17px;
  border-radius: 50%; 
  background: #F26B83;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #A63333;
  cursor: pointer;
}

.slider-disabled {
  background: #D3D3D3 !important;
}
.slider-disabled::-webkit-slider-thumb {
  background: #3B444B;
  cursor: not-allowed !important;
}
.slider-disabled::-moz-range-thumb {
  background: #3B444B;
  cursor: not-allowed !important;
}

.btn {
  background-color: #A63333;
  border: none;
  border-radius: 5px;
  color: #F2EDE4;
  font-family: 'Roboto', sans-serif;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-disabled {
  background-color: #D3D3D3 !important;
  color: black !important;
  cursor: not-allowed !important;
  box-shadow: none !important;
}

.algorithms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.algorithms-list {
  display: flex;
}

.algorithm-btn {
  height: 32px;
  padding: 10px 15px;
  font-size: 12px;
  margin: 0px 10px;
}

#generate-array-btn {
  height: 50px;
  padding: 15px 32px;
  font-size: 16px;
}

.slide-right {
	-webkit-animation: slide-right 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(var(--translateR));
            transform: translateX(var(--translateR));
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(var(--translateR));
            transform: translateX(var(--translateR));
  }
}

.slide-in {
	-webkit-animation: slide-in 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translate(0px, 200px);
            transform: translate(0px, 200px);
  }
  100% {
    -webkit-transform: translate(var(--translateX), var(--translateY));
            transform: translate(var(--translateX),var(--translateY));
  }
}
@keyframes slide-in {
  0% {
    -webkit-transform: translate(0px, 200px);
            transform: translate(0px, 200px);
  }
  100% {
    -webkit-transform: translate(var(--translateX), var(--translateY));
            transform: translate(var(--translateX),var(--translateY));
  }
}

.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-23 14:34:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}


